/* LATO TABLET */


@media screen and (min-width: 768px) {

    /*1) Il logo nell'header si allinea a sinistra*/
    #topbar{
        display: flex;
        justify-content: flex-start;
    }
    /*2) Il padding del contenuto principale della pagina aumenta */
    main{
        padding: 45px;
    }
    /*3) Compare il testo "(Dolce Tradizionale)" */
    .recipe-origin{
        display: inline;
    }

    /*4) La grandezza del titolo diventa più grande */
    .recipe-name{
        font-size: xx-large;
    }

    /*5) Le informazioni della ricetta sotto il video si dispongono a griglia*/
    .quick-notes ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li{
        width: 30%;
    }

    /*6) I bottoni social si allargano */
    .social-networks .btn{
        width: 20%;
        margin-bottom: 50px;
    }
    

    /*7) compare il banner pubblicitario */
    .ads{
        display: inline;
    }

    /*8) l'immagine nella descrizione della ricetta viene circondata dal testo */
    .presentation img{
        float: left;
        margin-right: 20px;
    }

}


/* LATO DESKTOP */

@media screen and (min-width: 992px) {

    /*9) La grandezza del titolo della ricetta aumenta ancora di più */
    .recipe-name{
        font-size: 40px;
    }
    
    /*10) Le informazioni della ricetta tornano a disporsi una sotto l'altra */
    /*11) Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro */
    main{
        padding: 25px;
    }
    .container{
        min-width: 80%;
    }
    .recipe{
        padding: 0px;
    }
    .recipe-card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .recipe-video{
        width: 70%;
    }
    .recipe-info{
        width: 30%;
    }
    .quick-notes ul{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    li{
        width: 100%;
    }
    
    /*12) Compaiono i nomi delle piattaforme social */
    .social-networks .btn .label{
        display: inline;
    }
}